*{
    margin:0px;
    padding:0px;
}

body{
    display:absolute;
}

#hand_scan{
    height:100vh;
    /* width:100vw; */

    position: absolute;
    left:0px;
    top:0px;

    z-index:5;
}

#full_screen_click{
    width:100vw;
    height:100vh;

    position: absolute;
    left:0px;
    top:0px;

    z-index: 1;
}

#full_screen_click.approved_touch{
    background-color:rgba(100,255,100,1);
}

#full_screen_click.warn_touch{
    background-color:rgb(255, 255, 0);
}